@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.sectionTitle {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.historySection,
.skillsSection {
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* Add gap between skill items */
}

.skill {
  flex: 1 1 100px;
  /* Adjust the basis to fit better */
  max-width: 150px;
  /* Ensure a maximum width */
  text-align: center;
  margin: 10px;
  padding: 1rem;
  /* Add padding for better spacing */
  background-color: rgba(255, 255, 255, 0.1);
  /* Background color for better visibility */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Light shadow for depth */
}

.skillImageContainer {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill img {
  max-width: 80%;
  /* Ensure the image fits well */
  max-height: 80px;
  /* Ensure the image fits well */
}

.history {
  list-style-type: none;
  padding: 0;
}

.historyItem {
  margin-bottom: 1.5rem;
}

.historyCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Light border for visibility */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historyImage {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.historyItemDetails {
  flex: 1;
}

.historyItemDetails h3 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-text);
}

.historyItemDetails p {
  margin: 0.5rem 0;
  color: var(--color-text);
}

.historyItemDetails ul {
  margin: 0.5rem 0 0;
  padding-left: 1rem;
}

.historyItemDetails ul li {
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
  }

  .content {
    flex-direction: column;
  }

  .historyCard,
  .skill {
    flex-direction: column;
    align-items: center;
  }

  .historyImage {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .historyItemDetails {
    text-align: center;
  }
}